@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #111827 inset !important;
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
  }
}

@layer base {
  * {
    outline: none;
  }

  @font-face {
    font-family: "IranYekan-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/IranYekan/iranyekan-regular.woff") format("woff");
  }

  @font-face {
    font-family: "IranYekan-Medium";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/IranYekan/iranyekan-medium.woff") format("woff");
  }

  @font-face {
    font-family: "IranYekan-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/IranYekan/iranyekan-bold.woff") format("woff");
  }

  @font-face {
    font-family: "Dana";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/Dana/DanaFaNum-Medium.woff2") format("woff2");
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .hideScrollbar::-webkit-scrollbar {
    scrollbar-width: none;
  }
}

@layer components {
  .form__input {
    @apply min-w-full rounded-[10px] border-2 bg-slate-50 py-4 pl-6 pr-14 text-sm/6 text-primary-500 outline-none transition-all duration-200 ease-linear dark:border-slate-700 dark:bg-slate-800 dark:text-slate-100;
  }

  .input__block {
    @apply child:block !important;
  }

  .search-btn {
    @apply flex aspect-square w-fit shrink-0 items-center justify-center rounded-md bg-sky-200 text-black transition-colors disabled:cursor-not-allowed disabled:bg-sky-200/50 dark:bg-sky-700 dark:text-white dark:disabled:bg-sky-700/50;
  }

  .table-btn {
    @apply inline-flex size-6 cursor-pointer items-center justify-center rounded-md;
  }

  .btn {
    @apply flex h-10 cursor-pointer items-center justify-center rounded-md border border-transparent px-4 font-IranYekan text-white transition-colors;
  }

  .btn-default {
    @apply bg-slate-200 text-slate-900 hover:bg-slate-300 dark:bg-slate-600 dark:text-white dark:hover:bg-slate-700;
  }

  .btn-danger {
    @apply bg-red-600 enabled:hover:bg-red-700;
  }

  .btn-primary {
    @apply bg-sky-600 enabled:hover:bg-sky-700;
  }

  .btn-success {
    @apply bg-green-600 enabled:hover:bg-green-700;
  }

  .btn-warning {
    @apply bg-amber-600 enabled:hover:bg-amber-700;
  }

  .btn-info {
    @apply bg-cyan-600 enabled:hover:bg-cyan-700;
  }

  .radio-label {
    @apply mr-2 cursor-pointer rounded-md bg-slate-50 px-4 py-1.5 outline outline-1 outline-slate-300 ring-indigo-500 transition-all ease-in-out has-[:checked]:bg-indigo-500 has-[:checked]:text-white md:px-6 md:py-2 dark:bg-slate-800/100 dark:outline-slate-700 dark:has-[:checked]:bg-indigo-700;
  }

  .radio-input {
    @apply appearance-none checked:border-indigo-500;
  }

  .add-btn {
    @apply btn btn-primary mt-10 py-4 text-base font-medium text-white transition-all duration-500 ease-linear disabled:cursor-not-allowed disabled:bg-blue-700/60;
  }

  .selection-btn {
    @apply btn inline-flex max-h-6 disabled:cursor-not-allowed disabled:bg-opacity-60 md:h-12;
  }

  .pagination-btn {
    @apply flex size-8 items-center justify-center rounded-lg border border-slate-50 bg-blue-500 p-1 transition-colors duration-300 enabled:text-white disabled:cursor-not-allowed disabled:border-slate-300 disabled:bg-slate-200/50 child:size-4 md:size-10 md:child:size-5 dark:border-slate-700 dark:bg-blue-600 dark:disabled:bg-slate-700/50;
  }

  .list-active-dot {
    @apply absolute -right-3.5 top-1/2  size-1.5 -translate-y-1/2 rounded-full bg-sky-500 transition-opacity duration-1000 content-[''] before:size-5 before:rounded-full before:bg-sky-500 sm:right-0 dark:bg-sky-600 before:dark:bg-sky-600;
  }

  .wishlist {
    @apply mt-3 grid place-items-center gap-x-4 gap-y-3 xs:grid-cols-2 md:grid-cols-3 lg:gap-y-12;
  }

  .food-wishlist-btn {
    @apply flex size-8 cursor-pointer items-center justify-center rounded-full bg-current drop-shadow-2xl transition-colors duration-500 lg:size-10 dark:drop-shadow-none;

    & > svg {
      @apply transition-all duration-500;
    }
  }

  .food-wishlist-btn.like {
    @apply bg-red-50 hover:bg-red-200 dark:bg-slate-700 hover:dark:bg-slate-600;
  }

  .food-wishlist-btn.bookmark {
    @apply bg-cyan-50 hover:bg-cyan-200 dark:bg-slate-700 dark:hover:bg-slate-600;
  }

  .like {
    @apply fill-red-500 text-xl;
  }

  .bookmark {
    @apply fill-cyan-500 text-xl;
  }

  .swiper {
    @apply px-5 py-5 md:px-10 xl:px-20 !important;
  }

  .order-list {
    & > li {
      @apply flex flex-1 justify-between px-4 py-2 sm:px-10;

      & > :first-child {
        @apply dark:text-slate-400;
      }

      & > :last-child {
        @apply dark:text-slate-200;
      }
    }
  }

  .cart-btn {
    @apply flex aspect-square cursor-pointer items-center justify-center rounded-md bg-teal-600 px-1.5 text-base font-medium transition-colors duration-300 hover:bg-teal-700 disabled:cursor-not-allowed disabled:bg-opacity-65 sm:px-2;
  }

  .cart__topbar-item {
    @apply flex select-none items-center gap-1 bg-white py-1 pl-2 font-bold leading-[22.4px] text-slate-700 transition-colors delay-700 duration-500 dark:bg-slate-900 dark:text-white;

    &.active {
      @apply text-sky-500;
    }
  }

  .cart__topbar-btn {
    @apply inline-flex aspect-square size-7 items-center justify-center rounded-md bg-slate-200 text-slate-900 transition-colors duration-300 ease-linear hover:bg-slate-300 disabled:cursor-not-allowed disabled:bg-slate-200/40 dark:bg-slate-800 dark:text-slate-100 dark:hover:bg-slate-700 disabled:dark:bg-slate-700/40;
  }

  .box {
    @apply rounded-lg border border-neutral-300 dark:border-slate-900 dark:bg-slate-800;
  }

  .restaurant__card {
    @apply rounded-2xl bg-neutral-100 p-4 dark:bg-slate-800 dark:text-white;
  }

  .btn-payment {
    @apply flex h-10 w-36 items-center justify-center rounded transition-colors duration-500 max-lg:text-sm lg:w-44;
  }

  .sidebar__nav > * {
    @apply inline-flex h-10 cursor-pointer items-center gap-2.5 rounded-lg px-4;
  }

  .cart-border {
    @apply absolute h-0.5 w-full bg-neutral-200 after:absolute after:h-0.5 after:w-0 after:bg-neutral-200 after:transition-all after:delay-500 after:duration-500 after:ease-linear after:content-[''] dark:bg-slate-600;
  }

  .factor-item {
    @apply flex-1 p-2 odd:bg-neutral-100 even:bg-neutral-200 dark:text-slate-100 dark:odd:bg-slate-700 dark:even:bg-slate-600;
  }

  .input__image-bg-cover {
    @apply w-full overflow-hidden rounded-3xl brightness-90;

    & > img {
      @apply h-64 lg:h-80;
    }
  }

  .input__image-logo {
    @apply size-full rounded-full border border-slate-100 bg-slate-100 p-1 shadow-lg lg:p-2 dark:border-slate-700 dark:bg-slate-700 dark:shadow-none;

    & > img {
      @apply h-full rounded-[inherit] object-top transition-transform duration-500;
    }
  }

  .input__image-action {
    @apply absolute flex w-auto flex-col gap-2 font-Dana text-white transition-[border-radius] duration-300 ease-in-out;

    &.cover {
      @apply left-5 top-5 items-end child:[direction:ltr];
    }

    &.logo {
      @apply bottom-2 right-32 items-start lg:right-40;
    }
  }

  .input__image-button {
    @apply flex h-10 w-10 cursor-pointer items-center gap-3 overflow-hidden rounded-full px-3 shadow-xl transition-all delay-200 duration-200 ease-linear hover:w-full;
  }

  .input__image-text {
    @apply mt-0.5 inline-block w-fit overflow-hidden text-ellipsis whitespace-nowrap text-right text-xs;
  }
}
